body{
    background: black;
    padding: 0;
    margin: 0;
}
h1{
    color: azure;
}
.contain{
    margin-top: 10rem;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    width: 30rem;
    height: auto;
    background: rgb(0,6,36);
    background: linear-gradient(52deg, rgba(0,6,36,1) 0%, rgba(82,9,121,1) 47%, rgba(218,0,255,1) 100%);
}
.select{
    width: inherit;
    height: 2rem;
}
.inputPlace{
    margin-top: 1rem;
}
.mainButton{
    height: 38px;
}
.input{
    height: 2rem;
    width: 85%;
}