
body {
    background-color: #efefef;
}
h1{
    font-family: AnjaliOldLipi;
    text-align: center;
    font-weight: lighter;
    color: brown;
    font-size: 117px;
    margin: 0;
    opacity: 0.5;
    width: auto;
    height: 130px;

}
p{
    font: status-bar;
    margin: 0;
}
.todo_list{
    box-shadow: 0 0 20px #b8b0a5;
}
.add{
    position: absolute;
    font-size: 20px;
    border:0;
    background-color: #fff;
    width: 50px;
    height: 49px;
    display: block;
    float: left;
}
.add:focus{
    outline: 0;
}
.message{
    font-size: 20px;

    border: 0;
    background-color: #fff;
    height: 47px;
    width: 88%;
    padding-left: 58px;
    display: block;
}
.message:focus{
    outline: 0;
}
.wrapper{
}
.todo{
    margin: 0;
    padding-left: 0;
    width: 100%;
}
li {
    font: status-bar;
    font-size: 20px;
    display: flex;
    align-items: center;
    height: 40px;
    list-style-type: none;
    background-color: #fff;
    border-bottom: 1px solid #e7e7e7;

}
.item{
    text-align: end;
}
.check{
    margin: 0 15px 0 15px;
}
li:hover .close{
    display: block;
}
.close{
    margin-left: auto;
    order: 1;
    display: none;
    height: inherit;
    float: right !important;
    border: 0;
    background: none;
}
.close:focus{
    outline: 0;
}
.container {
    margin: auto;
    width: 500px;
    height: content-box;
}
.footer{
    display: flex;
    justify-content: center;
}
.footerNone{
    display: none;
}
.all{

}
.left {
    margin-left: 7px;
    width: 30%;
}
.control {
    width: 40%;
}

.delCompleted{
    width: 30%;
    border: 0;
}
.delCompleted:focus{
    outline: 0;
}
.check:checked + label {
    text-decoration: line-through;
    color: #939393;
}